function Const.init 0
    push argument 0
    pop pointer 0
    push constant 510
    pop static 0
    push constant 254
    pop static 1
    push constant 0
    pop static 2
    push constant 1
    pop static 3
    push constant 2
    pop static 4
    push constant 3
    pop static 5
    push constant 4
    pop static 6
    push constant 140
    pop static 7
    push constant 130
    pop static 8
    push constant 131
    pop static 9
    push constant 132
    pop static 10
    push constant 133
    pop static 11
    push constant 0
    return